send-wa-message.json
{
  "name": "send-wa-message",
  "nodes": [
    {
      "parameters": {
        "path": "wa/send",
        "method": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 250]
    },
    {
      "parameters": {
        "dataType": "string",
        "rules": [
          { "value1": "={{ $json[\"type\"] }}", "operation": "equal", "value2": "text" },
          { "value1": "={{ $json[\"type\"] }}", "operation": "equal", "value2": "media" },
          { "value1": "={{ $json[\"type\"] }}", "operation": "equal", "value2": "interactive" }
        ],
        "fallbackOutput": 3
      },
      "name": "Switch Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 250]
    },
    {
      "parameters": {
        "url": "https://api.360dialog.com/v1/messages",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"to\": {{$json[\"chatId\"]}},\"type\":\"text\",\"text\":{\"body\": {{$json[\"text\"]}}}}"
      },
      "name": "Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 150],
      "credentials": { "httpBasicAuth": "360dialog WhatsApp" }
    },
    {
      "parameters": {
        "url": "https://api.360dialog.com/v1/messages",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\"to\": {{$json[\"chatId\"]}},\"type\":\"document\",\"document\":{\"link\": {{$json[\"mediaUrl\"]}},\"filename\": {{$json[\"filename\"]}}}}"
      },
      "name": "Send Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": { "httpBasicAuth": "360dialog WhatsApp" }
    },
    {
      "parameters": {
        "url": "https://api.360dialog.com/v1/messages",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\"to\": {{$json[\"chatId\"]}},\"type\":\"interactive\",\"interactive\": {{$json[\"interactive\"]}}}"
      },
      "name": "Send Interactive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 450],
      "credentials": { "httpBasicAuth": "360dialog WhatsApp" }
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "status", "value": "={{ $json(\"sent\") ? 'sent' : 'error' }}" },
            { "name": "waMsgId", "value": "={{ $json(\"messages\")[0].id }}" }
          ]
        }
      },
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "responseMode": "lastNode",
        "lastNodeOutput": "Set Response"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Switch Type", "type": "main", "index": 0 }]] },
    "Switch Type": {
      "main": [
        [{ "node": "Send Text", "type": "main", "index": 0 }],
        [{ "node": "Send Media", "type": "main", "index": 0 }],
        [{ "node": "Send Interactive", "type": "main", "index": 0 }]
      ]
    },
    "Send Text": { "main": [[{ "node": "Set Response", "type": "main", "index": 0 }]] },
    "Send Media": { "main": [[{ "node": "Set Response", "type": "main", "index": 0 }]] },
    "Send Interactive": { "main": [[{ "node": "Set Response", "type": "main", "index": 0 }]] },
    "Set Response": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  }
}
